@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap);

.gtp-pink {
    font-family: inherit;
    color: #E59BDD !important;
    color: var(--sc-theme--growtopics-pink) !important
}

:root {
    --sc-theme--primary-light: #5F676B;
    --sc-theme--primary: #203744;
    --sc-theme--primary-dark: #0C1419;
    --sc-theme--secondary-light: #A9A9A9;
    --sc-theme--secondary: #569580;
    --sc-theme--secondary-dark: #3F6D5D;
    --sc-theme--on-primary: #FFF;
    --sc-theme--on-secondary: #000;
    --sc-theme--error: #B00020;
    --sc-theme--warning: #FFA000;
    --sc-theme--success: #25A53F;
    --sc-theme--on-error: #FFF;
    --sc-theme--on-warning: #000;
    --sc-theme--on-success: #FFF;
    --sc-theme--input: #ABBBCF;
    --sc-theme--on-input: #FFF;
    --sc-theme--growtopics-pink: #E59BDD
}

*, :after, :before {
    font-family: "Inter", sans-serif
}

a {
    text-decoration: none
}

h1, h2, h3 {
    font-weight: 700;
    font-family: "Playfair Display", serif
}

h4, h5, h6, p {
    font-weight: 400;
    font-family: "Inter", sans-serif
}

b {
    font-weight: 700;
    color: inherit
}

html {
    font-size: 100%
}

*, :after, :before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: inherit
}

html {
    box-sizing: border-box
}

body, html {
    width: 100%;
    height: 100%
}

body {
    background: #0C1419;
    background: var(--sc-theme--primary-dark);
    color: #FFF;
    color: var(--sc-theme--on-primary)
}

.content-wrap {
    width: calc(100% - 20px);
    max-width: 1077px
}

.sc-button {
    width: -webkit-max-content;
    width: max-content;
    min-width: 57px;
    display: inline-flex;
    justify-content: center;
    place-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 12px;
    transition: all .1s linear;
    color: #569580;
    color: var(--sc-theme--secondary);
    border: none;
    background: transparent;
    -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    font-size: .875rem;
    font-weight: 700;
    text-decoration: inherit;
    text-transform: inherit;
    border-radius: .3rem
}

.sc-button > * + * {
    margin-left: 7px
}

.sc-button:active, .sc-button:focus {
    outline: none;
    transition: all .125s ease !important
}

.sc-button:disabled {
    pointer-events: none
}

.sc-button:disabled .sc-button__icon--loading {
    -webkit-animation: rotate 1.7s linear infinite;
    animation: rotate 1.7s linear infinite
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.sc-button .sc-button__label {
    font-weight: inherit;
    font-size: inherit;
    text-align: left;
    color: inherit
}

.sc-button .sc-button__icon {
    font-size: 1.25rem;
    position: relative;
    color: inherit;
    width: 1.25rem;
    height: 1.25rem
}

.sc-button:focus, .sc-button:hover {
    color: #569580;
    color: var(--sc-theme--secondary);
    cursor: pointer
}

.sc-button:active {
    color: #9CC6B5;
    cursor: pointer
}

.sc-button:disabled {
    color: #3F6D5D;
    color: var(--sc-theme--secondary-dark)
}

.sc-button.sc-button--outlined {
    color: #569580;
    color: var(--sc-theme--secondary);
    border: 1px solid #569580;
    border: 1px solid var(--sc-theme--secondary);
    background: transparent;
    -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    font-size: .875rem;
    font-weight: 700;
    text-decoration: inherit;
    text-transform: inherit;
    border-radius: .3rem
}

.sc-button.sc-button--outlined:focus, .sc-button.sc-button--outlined:hover {
    color: #000;
    color: var(--sc-theme--on-secondary);
    background: #569580;
    background: var(--sc-theme--secondary);
    border: 1px solid #569580;
    border: 1px solid var(--sc-theme--secondary);
    cursor: pointer;
    -ms-box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    -o-box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.sc-button.sc-button--outlined:active {
    color: #000;
    background: #9CC6B5;
    border: 1px solid #9CC6B5;
    cursor: pointer;
    -ms-box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
    -o-box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12)
}

.sc-button.sc-button--outlined:disabled {
    color: #3F6D5D;
    color: var(--sc-theme--secondary-dark);
    border: 1px solid #3F6D5D;
    border: 1px solid var(--sc-theme--secondary-dark)
}

.sc-button.sc-button--outlined:disabled:hover {
    background: transparent
}

.sc-button.sc-button--filled {
    color: #000;
    color: var(--sc-theme--on-secondary);
    border: 1px solid #569580;
    border: 1px solid var(--sc-theme--secondary);
    background: #569580;
    background: var(--sc-theme--secondary);
    -ms-box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    -o-box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    font-size: .875rem;
    font-weight: 700;
    text-decoration: inherit;
    text-transform: inherit;
    border-radius: .3rem
}

.sc-button.sc-button--filled:focus, .sc-button.sc-button--filled:hover {
    color: #000;
    color: var(--sc-theme--on-secondary);
    border: 1px solid #569580;
    border: 1px solid var(--sc-theme--secondary);
    background: #569580;
    background: var(--sc-theme--secondary);
    cursor: pointer;
    -ms-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
    -o-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12)
}

.sc-button.sc-button--filled:active {
    color: #000;
    border: 1px solid #9CC6B5;
    background: #9CC6B5;
    cursor: pointer;
    -ms-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
    -o-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12)
}

.sc-button.sc-button--filled:disabled {
    color: #000;
    color: var(--sc-theme--on-secondary);
    border: 1px solid #3F6D5D;
    border: 1px solid var(--sc-theme--secondary-dark);
    background: #3F6D5D;
    background: var(--sc-theme--secondary-dark);
    -ms-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -o-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.sc-button.sc-button--filled:disabled:hover {
    cursor: not-allowed
}

.hero {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 1em;
    text-align: center
}

.hero .hero__wrap {
    display: flex;
    flex-flow: column nowrap
}

.hero .hero__wrap > * + * {
    margin-top: 10px !important
}

.hero .hero__wrap .hero__button {
    flex-basis: 100%;
    margin: auto
}

.hero .hero__wrap .hero__actions {
    display: flex;
    flex-flow: row wrap;
    grid-gap: 10px;
    justify-content: center;
}

/*# sourceMappingURL=main.3186f7c0.chunk.css.map */
